{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:import/typescript",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "semi": ["error", "always"],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "prettier/prettier": "error"
  },
  "overrides": [
    {
      "files": ["**/*.test.js", "**/*.test.ts"],
      "env": {
        "jest": true
      },
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    },
    {
      "files": ["**/*.ts"],
      "rules": {
        "semi": "off",
        "@typescript-eslint/semi": ["error"]
      }
    }
  ]
}
